@font-face {
  font-family: 'MiFuentePersonalizada';
  src: url('Horta\ demo.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body{   
    background-image: url('OIUFXG0.jpg');
    background-position: center;
    height: 20px;
    width: auto;
}
header{
    background-color: #adff2f;
}
nav a:hover {
    color: cornflowerblue;
    font-style: italic;
}
article{
    border: 2px solid black;
}
footer{
    background-color: #adff2f;
    text-align: center;
}
nav a{
    text-decoration: none;
}
table{
    font-size: 30px;
}